body {font-family: 'Times New Roman', Times, serif;
    color: purple;}

h1 {
    
    color: purple;

}
label {
    display: block;
    padding: 5px;
}

button {
    color: white;
    background: purple;
    padding: 5x;
}